body{
    text-align: center;
    background: url(hexBG.png);
    background-size: cover;
    background-position: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  }

#nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
}

#nav li {
  display: inline-block;
}

#nav li a {
    color:white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.loginbox{
    width: 320px;
    height: 320px;
    background: whitesmoke;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 20px;
    text-align: center

}

.lock{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -75px;
    left: calc(50% - 50px);
}

.loginbox p{
    margin: 0;
    padding: 10px 0 10px;
    font-weight: bold;
    
}